@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Pacific&display=swap');
:root {
    font-family: Georgia, "Cedarville Cursive", serif;
    font-family: monospace, Tahoma, sans-serif;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}
nav a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 75px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
    color: black;
}
#hero-img {
    max-height: 500px;
    border-radius: 50px;
    margin: 2% 25%;
    box-shadow: 5px 5px 10px #6f7364;
}
main section {
    text-align: center;
}
body {
    font-family: Georgia, "Cedarville Cursive", serif;
    font-size: 22px;
    background-image: linear-gradient(to bottom right, #dddddd, #E7C24F);
    margin: 0;
    padding: 0;
}
header {
    font-family: monospace, Tahoma, sans-serif;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 50px;
    opacity: 1;
    background-color: #444444;
    align-items: center;
}
nav a:hover {
    color: rgb(0, 0, 0);
}
footer {
    background-color: #444444;
    padding: 25px 50px;
    margin-top: 100px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-title {
    font-family: "Cedarville Cursive", Tahoma, sans-serif;
    text-decoration: underline;
    font-size: 2em;
    color: rgb(0, 0, 0);
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: black;
}
.logo {
    width: 85px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.social a img{
    border-radius: 5px;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
h2 {
    text-decoration: underline;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 50px;
}
.cool-guitar {
    max-height: 500px;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #6f7364;
}
.grey-box {
    max-height: 500px;
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0 auto;
    width: 600px;
    opacity: 1;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #6f7364;
}
.purpose-paragraph {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    padding: 15%;
    color: white;
}
h2 {
    padding: 2%;
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    color: white;
    font-family: "Cedarville Cursive";
}
.collection-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 50px;
}
.greybox1 {
    max-height: 280px;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: -60px 0px 0px 130px;
    width: 280px;
    opacity: 1;
    border-radius: 20px;
    background-color: darkgrey;
    box-shadow: 5px 5px 10px #6f7364;
}
.greybox2 {
    max-height: 280px;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: -60px 0px 0px 260px;
    width: 280px;
    opacity: 1;
    border-radius: 20px;
    background-color: darkgrey;
    box-shadow: 5px 5px 10px #6f7364;
}
.greybox3 {
    max-height: 280px;
    grid-column: 1/2;
    grid-row: 3/4;
    margin: -60px 0px 0px 130px;
    width: 280px;
    opacity: 1;
    border-radius: 20px;
    background-color: darkgrey;
    box-shadow: 5px 5px 10px #6f7364;
}
.guitar {
    max-height: 300px;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0 auto;
    width: 300px;
    opacity: 1;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #6f7364;
}
.harp {
    max-height: 300px;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0 auto;
    width: 300px;
    opacity: 1;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #6f7364;
}
.violin {
    max-height: 300px;
    grid-column: 1/2;
    grid-row: 3/4;
    margin: 0 auto;
    width: 300px;
    opacity: 1;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #6f7364;
}
.guitar-paragraph {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: -100px 0px 50px -120px;
    opacity: 1;
    border-radius: 20px;
    padding: 100px;
}
.harp-paragraph {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: -100px 0px 0px 100px;
    opacity: 1;
    border-radius: 20px;
    padding: 100px 20px 100px 0px;
}
.violin-paragraph {
    grid-column: 2/3;
    grid-row: 3/4;
    margin: -20px 0px 50px -100px;
    opacity: 1;
    border-radius: 20px;
    padding: 100px 20px 100px 0px;
}
.reviews-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 50px;
    justify-content: center;
    overflow: hidden;
}
.reviews-greybox1 {
    background-color: grey;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 10%;
    opacity: 1;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #6f7364;
}
.reviews-greybox2 {
    background-color: grey;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 10%;
    opacity: 1;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #6f7364;
}
.reviews-greybox3 {
    background-color: grey;
    grid-column: 1/2;
    grid-row: 3/4;
    margin: 10%;
    opacity: 1;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #6f7364;
}
.harp-review-lady {
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    box-shadow: 5px 5px 10px #6f7364;
}
.guitar-review-man {
    max-width: 300px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    box-shadow: 5px 5px 10px #6f7364;
}
.violin-review-lady {
    max-width: 300px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    box-shadow: 5px 5px 10px #6f7364;
}
.harp-review {
    color: white;
    margin: 0 auto;
    padding: 20%;
    grid-column: 1/2;
    grid-row: 1/2;
    
}
.guitar-review {
    color: white;
    margin: 0 auto;
    padding: 20%;
    grid-column: 2/3;
    grid-row: 2/3;
}
.violin-review {
    color: white;
    margin: 0 auto;
    padding: 20%;
    grid-column: 1/2;
    grid-row: 3/4;
}